/.idea/*
!/.idea/copyright
!/.idea/inspectionProfiles
!/.idea/codeStyles
!/.idea/checkstyle-idea.xml
!/.idea/runConfigurations
target
node_modules
*.iml
*/.settings
*/.classpath
*/.project
classlib/org
.project
classlib/dependency-reduced-pom.xml
classlib/META-INF/services/org.teavm.vm.spi.TeaVMPlugin
.settings
sandbox/worker/src
